/*css commun*/

body {
    background-color: black;
    width: 100%;
    color: rgb(221, 223, 230);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-image: url(image\ background\ site.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 6cm;
    color: white;
}

main {
    width: 70%;
    margin: 0px 0px 10px 0px;
    text-align: center;
    background-color: rgb(10, 10, 10);
    border: solid black;
    box-shadow: 10px 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    margin: 5px 0px 0px 0px;
    padding: 0;
    background-color: black;
    border-radius: 5px;
}

h1 {
    justify-content: center;
    text-align: center;
    margin: auto;
}

h2 {
    background-color: black;
    border-radius: 10px;
    box-shadow: 8px 4px rgb(10, 10, 10);
    padding: 2px;
    margin: 2px 20%;
    color: white;
}

.entête {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#flag {
    display: flex;
    justify-content: end;
    padding: 5px 2px 5px 5px;
    margin: 10px 20px 0px 0px;
    border: solid white;
}

#flag:hover {
    background-color: black;
}

ul {
    width: 100%;
    padding: 0;
    margin-top: 2cm;
    background: none;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    border: solid aqua;
    padding: 15px 25px;
    border-radius: 3px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: aqua;
    color: black;
}

footer a {
    border: none;
}

footer a:hover {
    background-color: black;
    color: white;
}

.liens {
    display: flex;
    justify-content: space-around;
}

h4 {
    margin: auto;
    padding: 1px;
    text-align: center;
}
.liens ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
}

/*ccs page d'accueil*/

.intro {
    width: 100%;
    height: 4cm;
    margin: 2px;
    padding: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.Présentation {
    margin-top: 5px;
    padding: auto;
}

.choix_suite {
    width: 100%;
    margin-top: 15px;
    padding: 5px 5px 30px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parcours {
    padding: 5px 5px 30px 5px;
    border-radius: 7px;
    width: calc(80% / 2);
    margin-left: 20px;
    background-color: rgb(20, 20, 20);
    box-shadow: 7px 4px rgb(15, 15, 15);
}

.centre_interet {
    padding: 5px 5px 20px 5px;
    border-radius: 7px;
    width: calc(80% / 2);
    margin-right: 20px;
    background-color: rgb(20, 20, 20);
    box-shadow: 7px 4px rgb(15, 15, 15);
}

/* css de la page "parcours" */

.explication_page {
    width: 70%;
    margin-top: 10px;
    display: flex;
    align-self: center;
    line-height: 1.6;
    text-align: center;
}

.passé {
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    margin: 70px 10px 0px 10px;
}

.intro_lycée {
    color: rgb(115, 115, 115);
}

.spés_T {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.spé_1ere {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.maths {
    border: solid rgb(5, 5, 5);
    width: 50%;
    margin: 5px 10px;
    border-radius: 10px;
    background-image: url(fond\ blanc\ math.jpg);
    height: 8cm;
}

.maths p {
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-top: 50px;
    padding: 0;
}

.PC {
    border: solid rgb(5, 5, 5);
    width: 50%;
    margin: 5px 10px;
    background-image: url(fond\ blanc\ PC.jpg);
    border-radius: 10px;
    height: 8cm;
}

.PC p {
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-top: 30px;
    padding: 0;
}

.SI {
    border: solid rgb(5, 5, 5);
    width: 60%;
    margin: 5px 10px;
    background-image: url(fond\ blanc\ SI.jpg);
    border-radius: 10px;
    height: 8cm;
}

.SI p {
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-top: 30px;
    padding: 0;
}

.BUT {
    line-height: 1.4;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    margin: 70px 10px 0px 10px;
    width: 80%;
    display: flex;
    align-self: center;
}

.futur {
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    margin: 70px 10px 0px 10px;
}

/*css page centres d'intérêt*/

.sport {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}
.intro_sport {
    border: solid black;
    border-bottom: none;
    border-radius: 10px;
    width: 80%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-flow: column wrap;
    align-self: center;
}

.favoris {
    display: flex;
    background-color: rgb(20, 20, 20);
    border: solid black;
    border-radius: 10px;
    margin: 0px 10px;
}

.hand {
    width: 50%;
    margin: 5px 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-image: url(terrain\ hand.jpg);
    background-size: cover;
    color: black;
    font-weight: 500;
}

.foot {
    width: 50%;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    background-image: url(terrain\ foot.jpg);
    background-size: cover;
    color: black;
    font-weight: 500;
}

.auto {
    display: flex;
    flex-flow: column wrap;
    border: solid black;
    margin-top: 25px;
    border-radius: 10px;
    width: 80%;
    background-color: rgb(20, 20, 20);
    align-self: center;
}

.sport_auto {
    background-color: rgb(25, 25, 25);
    margin: 5px 0px;
}
/*css pages anglais*/

#flagfr {
    display: flex;
    justify-content: end;
    padding: 5px 6px 5px 1px;
    margin: 10px 20px 0px 0px;
    border: solid white;
}

#flagfr:hover {
    background-color: black;
}